/* General Styles */
html,body {
  height: 100%;
}

body {
  background-image: url("../img/background.png");
  background-color: black;
  background-size: 100%;
  background-position: 0 -50px;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Verdana;
  color: white;
}

.under300 {
  background-attachment: fixed !important;
  background-position: 0 -350px !important;
}

.notUnder300 {
  background-attachment: scroll !important;
  background-position: 0 -50px !important;
}

.clear {
  clear: both;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "neon_lightsregular";
  text-transform: uppercase;
}

h2 {
  color: #fff298;
}

a:link,a:visited,a:active {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 20px white;
}

a:hover {
  text-shadow: 0 0 5px white;
}

p:empty {
  display: none;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px;
}

#content {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}

.searchWidget input[type="text"] {
  width: 180px;
  border-style: none;
  padding: 10px;
  margin-right: 10px;
}

input[type="submit"],button {
  border: none;
  background-color: rgba(0, 204, 255, 0.12);
  font-family: "neon_lightsregular";
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  height: 48px;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

input[type="submit"]:hover,button:hover {
  box-shadow: 0 0 10px #28BEE3;
}

button img {
  float: left;
  height: 24px;
}

button span {
  margin-left: 10px;
  vertical-align: middle;
}

.userPictureHolder {
  background-size: cover;
  cursor:pointer;
  width: 200px;
  height: 200px;
  line-height:200px;
  border-radius: 30px;
  border-style: solid;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #FFFFFF;
  border-width: 1px;
  margin-bottom:5px;
  text-align:center;
}

.userPictureAnnotation {
  background-color: rgba(248, 79, 67, 0.75);
  background-image: none !important;
}

/* Header styles */
header .holder {
  margin: 20px auto;
  position: relative;
  width: 1080px;
}

header .holder img {
  margin-left: -95px;
}

header .holderClean img {
  display: block;
  margin: 0 auto;
  padding-right: 95px;
}

header .holderClean {
  margin-top:25px;
}

header h1 {
  font-family: "neon_lightsregular";
}

header>nav {
  width: 100%;
  color: black;
  vertical-align: middle;
  display: inline-block;
  margin-top: 20px;
}

header>nav>ul {
  width: 1080px;
  margin: 0 auto;
  border-radius: 30px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  padding: 15px 0px;
}

header>nav>ul>li {
  padding: 15px 0px;
}

header>nav>ul>li>a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: "neon_lightsregular";
  font-weight: bold;
  padding: 15px 20px;
}

header>nav>ul>li.active {
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #28BEE3;
  background-color: rgba(0, 204, 255, 0.12);
}

header>nav>ul>li.active:first-child {
  border-bottom-left-radius: 30px;
}

header>nav>ul>li.active:hover {
  box-shadow: 0 0 15px #28b0ed;
}

header>nav>ul>li:hover {
  text-shadow: 0 0 15px white;
}

header #login {
  text-align: right;
  margin-right: 20px;
}

header #login li {
  list-style-type: none;
  display: inline;
}

header .searchWidget {
  margin-top: 50px;
  float: right;
}

/* Login/registration styles */
#inputBlock {
  display: table;
  width: 450px;
  border-radius: 30px;
  border-style: solid;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #FFFFFF;
  border-width: 1px;
  margin: 120px auto 30px auto;
}

#inputBlock input[type="text"],
#inputBlock input[type="password"],
#inputBlock input[type="email"] {
  display: block;
  width: 250px;
  border-style: none;
  padding: 10px;
  margin: 10px auto;
}

#inputBlock button {
  display: block;
  margin: 30px auto 0 auto;
}

.inputHolder {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 30px;
}

.inputHolder label {
  display: block;
  margin-top: 30px;
  margin-left: 50px;
  font-family: "neon_lightsregular";
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.inputHolder > form > a {
  display: block;
  margin-left: 90px;
}

.inputHolder .placeholder {
  display: block;
  margin-top: 50px;
  text-align: center;
  font-family: "neon_lightsregular";
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.success {
  text-align: center;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 20px;
  font-weight: bold;
  color: rgb(186, 240, 91);
}
.alert {
  text-align: center;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 20px;
  font-weight: bold;
  color: rgb(240, 91, 91);
}

.alert:empty {
  display: none;
}

.form-group.has-error input {
  background-color: rgb(255, 105, 105);
  color: white;
}

/* UCP styles */
.ucpInputs {
	float: left;
	margin: 0 150px;
	width: 500px;
	display: inline;
	text-align: left;
}
.ucpInputs input {
  display: block;
  width: 500px;
  border-style: none;
  padding: 10px;
  margin: 10px auto;
}
.ucpInputs label {
	margin-left:0px;
}
.ucpInputs button {
    margin-top: 50px;
	margin-left:auto;
	display:block;
}

/* Boards styles */
#content>section:first-child {
  margin-top: 50px;
}

#content section>section {
  border-radius: 30px;
  border-style: solid;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #FFFFFF;
  border-width: 1px;
  padding: 0px 30px 15px;
  margin-bottom: 30px;
}

#content section>section>article {
  margin-top: 25px;
}

#content section>section img {
  float: left;
  width: 32px;
}

#content section>section h4 {
  margin: 5px 0;
}

#content section>section p {
  margin: 5px 0;
}

#content section>section div {
  margin-left: 50px;
}

blockquote {
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: rgba(248, 79, 67, 0.75);
}

label[for="subject"],
label[for="editor"] {
	display:block;
	margin-top:20px;
	margin-left:-50px;
}

input#subject {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-style: none;
  padding: 10px;
  margin: 10px auto;
}

.newThread .inputHolder {
	width:100%;
	display:block;
}

.newThread .inputHolder > #cke_editor,
.newThread .inputHolder > label[for="subject"],
.newThread .inputHolder > #subject {
	margin-top:10px;
}

/* Topic styles */
#topic {
  padding: 0px 20px;
  border-radius: 30px;
  border-style: solid;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #FFFFFF;
  border-width: 1px;
}

#topic>.answer {
  position: relative;
  padding-top: 25px;
  min-height: 280px;
}

#topic>.answer:not(:first-child ) {
  border-top-style: solid;
  border-width: 1px;
  border-color: white;
}

#topic>.answer>.user {
  float: left;
}

#topic>.answer>.user div:not (:first-child ) {
  margin-top: 25px;
}

#topic>.answer>.answerBody {
  margin-bottom: 60px;
  width: 800px;
  float: right;
}

#topic>.answer>.answerBody p {
  margin-top: 0px;
  line-height: 1.8em;
}

#topic>.answer>.answerBody .postedOn {
  position: absolute;
  bottom: 20px;
  right: 0px;
  font-weight: bold;
  float: right;
}

#topic>.answer>.answerBody button {
  position: absolute;
  bottom: 20px;
}

button.newPost {
  margin-top: 25px;
}

div.newPost {
  display:none;
  margin-top:20px;
}

div.newPost button,
div.newThread button {
  display:block;
  margin-left: auto;
  margin-top: 15px;
  background-color: rgba(248, 79, 67, 0.75);
}

/* Search styles */
.search #usersTable {
  margin-top:0px !important;
}

/* User styles */
#user>#userBlock {
  float: left;
  width: 230px;
}

#user>#userBlock div:not (:first-child ) {
  margin-top: 10px;
}

#user>#topicBlock {
  margin-left: 50px;
  width: 799px;
  float: left;
}

#user>#topicBlock article:not(:first-child) {
	margin-top:35px;
}

#user>#topicBlock article:last-child {
	margin-bottom:10px;
}

#user>#topicBlock article>div {
	display:table;
	vertical-align:middle;
}

/* users List styles */
#usersList>.searchWidget {
  display: inline;
  text-align: center;
  width: 100%;
  float: left;
}

#usersList>#usersTable {
  float: left;
  width: 100%;
  margin-top: 25px;
  padding: 20px auto;
  border-radius: 30px;
  border-style: solid;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #FFFFFF;
  border-width: 1px;
}

#usersList>#usersTable header,#usersList>#usersTable .userListEntry
  {
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
}

#usersList>#usersTable h3 {
  float: left;
}

#usersList>#usersTable h3:last-child {
  float: right;
}

#usersList>#usersTable .userListEntry {
  width: 100%;
  float: left;
}

#usersList>#usersTable a:nth-child(2n-1) div {
  background-color: rgba(40, 176, 237, 0.18);
}

#usersList>#usersTable .userListEntry p {
  float: left;
}

#usersList>#usersTable .userListEntry p:last-child {
  float: right;
}

/* Footer styles */
footer {
  height: 20px;
  padding: 10px;
  text-align: center;
}

footer a:link,footer a:visited,footer a:active {
  color: #28b0ed;
  text-shadow: 0 0 20px #28b0ed;
}

footer a:hover {
  color: #28b0ed;
  text-shadow: 0 0 5px #28b0ed;
}

footer ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

#push {
  height: 50px;
}

/* Navigation styles */
nav li {
  list-style-type: none;
  display: inline;
}

.pipeList li+li:before {
  content: " | ";
}

.breadcrumb {
  margin: 25px;
  text-align: center;
}

.breadcrumb a {
  color: white;
}

.breadcrumb li+li:before {
  content: " > ";
}

/* Maintenance, Error */
p.maintenanceText, p.errorText {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;	
  margin-top: 20%;
}

/* Media Queries */
@media ( max-width :1095px) {
  body {
    background-size: 1080px;
  }
  header {
    width: 1080px;
  }
}
